@model IEnumerable<BuddyMap.Models.Question>
@{Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(q => q.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(q => q.QuestionText)
                </th>
                <th>
                    @Html.DisplayNameFor(q => q.NumOfAnswers)
                </th>
                <th>         
                   
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => question.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => question.QuestionText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => question.NumOfAnswers)
                    </td>
                    <td>
                        @foreach (QuestionGroup questionGroup in question.QuestionGroups)
                         {
                            @questionGroup.QuestionGroupName
                         }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@question.Id">Edit</a> 
                        <a asp-action="Details" asp-route-id="@question.Id">Details</a> 
                        <a asp-action="Delete" asp-route-id="@question.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
