@model BuddyMap.Models.AnswerGroup

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>AnswerGroup</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SubmitterId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SubmitterId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Answers)
            </dt>
            <dd>
                @foreach (Answer ans in Model.Answers)
                {

                    <li>
                        @ans.Id
                        <ul>
                            @foreach (AnswerElement anselem in ans.AnswerElements)
                            {
                                <li>
                                    @anselem.StudentId
                                </li>
                            }
                        </ul>
                    </li>
                }
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
